<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: "Blog Create"}) %>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>
    <h1>Blog Create Page</h1>
</body>
</html>